body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    align-items: center;
    padding: 10px 20px;

}
.logo {
    font-size: 24px;
    font-weight: bold;
    color:black;
}

.nav-links {
    list-style: none; 
    display: flex; 
}

.nav-links li {
    margin: 0 15px; 
    
}
.nav-links a {
    text-decoration: none; 
    color:black;
    font-size: 18px;

}


